{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <img src="{% static 'images/about.jpg' %}" alt="About" />
    <div>
        <p>This tutorial has been put together by <strong>{{ author }}.</strong></p>
    </div>
    <div>
        <p>This is the <a href="/">Index</a> page.</p>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a cat" />
    </div>
    <hr />
    <button class="btn btn-primary"
            onClick="alert('You clicked the button using JavaScript.');">
        Click Me - I run JavaScript
    </button>

    <button id="about-btn">
        Click Me - I'm Java Script on Speed
    </button>
    <div id="msg">Hello - I'm here for a JQuery Example too</div>
    <p>This is an example</p>
    <p>This is another example</p>
    <hr />
    Number of visits: {{ visits }}
{% endblock %}