{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}{{ selecteduser.username }} Profile{% endblock %}

{% block body_block %}

<h1>{{ selecteduser.username }} Profile</h1>
{% if user_profile.picture %}
    <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="300" height="300" alt="{{ user_profile.user.username }}" />
{% else %}
    <img width="300" height="300" src="{{ MEDIA_URL }}homer.jpg"/>
{% endif %}
<br />
<div>
    {% if selecteduser.username == user.username %}
    <form method="post" action="{% url 'rango:profile' selecteduser.username %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
    </form>
    {% else %}
        <p><strong>website: </strong><a href="{{ user_profile.website }}">
        {{ user_profile.website }}</a></p>
    {% endif %}
</div>
<div id="edit_profile"></div>
{% endblock %}